.test{
    text-align: center;
    box-shadow: 0 4px 20px rgba(51, 51, 51, .2);
    margin: 50px auto;
    overflow: auto;
    
}

.root-frm {
    display: inline-block;
    bottom: 107%;
    height: 100%;
    width: calc(100% - 500px);
}

